@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: 
  #d1d9f7;
  --color-secondary: 
  #122a98;
  --color-tertiary:
  #07165a;
  --color-button: 
  #070707;
  --color-button-hover: 
  #393939;

  --color-quaternary: 
  #E4F0D0;
  --color-quinary: 
  #A1B5D8;
}

body {
  margin: 0;
  padding: 0;
  /* background-image:  url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: contrast(112%) grayscale(100%); */
}